@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
nav{
    display: flex;
    height: 3rem;
    background-color: #360185;
    vertical-align: middle;
    justify-content: space-around;
    box-shadow: 0px 1px 10px rgb(58, 58, 58);
}
img{
    height: 2.5rem;
    vertical-align: middle;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    margin-right: 1rem;
    color: white;
    font-weight: 600;
}
li a {
    color: white;
    transition: .2s;
}
li a:hover{
    color: yellow;
    border-radius: 10%;
    font-size: 1.2rem;
}
#hero {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
#hero img{
    width: 80%;
    height: auto;
}